body {
    background-color:gray;
  }

h1 {
    text-align: center;
    font-size: 50px;
    
}
img {
    height: 250px;
    width: fit-content;
    
    /* padding: auto */;
}

p {text-align: center;}

.container-image > h2 {
    flex: 0 0 100%;
      background: white;
    text-align: center;
    text-transform: capitalize;
    text-transform: full-width;
    border-bottom: 10px solid black;
    font-size: 40px;
    }
 .container-image {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        justify-content: space-evenly;
        background-color: white;
        border: 5px solid black;
        align-content: center;
        margin: 5px;
        gap: 25px;

       
   }
   .container-image > div {
    border: 3px solid black;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    }

    #showPassword {
      text-decoration: underline;
  }
  
  #showPassword:hover {
      cursor: pointer;
  }







